<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<th:block th:fragment="fragmentContent">
	<div class="container mt-5" style="margin-bottom: 100px;">
		<th:block th:if="${allCustomers.size() == 0}">
			<div class="text-center">
				<h2 th:text="${'No registered customers currently'}" class="mb-4"></h2>
				<button class="btn btn-primary" th:onclick="redirectAdmin()"
					th:text="${'Admin Panel'}">Admin Panel</button>
			</div>
		</th:block>

		<th:block th:if="${allCustomers.size() > 0}">
			<div class="text-center text-uppercase mb-4">
				<h2 th:text="${'Customer List'}"></h2>
			</div>

			<div class="table-responsive mt-4">
				<input type="hidden" id="recordsPerPage"
					th:value="${recordsPerPage}">
				<table class="table table-striped table-hover" id="listingTable">
					<thead class="thead-dark">
						<tr>
							<th scope="col" th:text="${'Customer Id'}"></th>
							<th scope="col" th:text="${'First Name'}"></th>
							<th scope="col" th:text="${'Last Name'}"></th>
							<th scope="col" th:text="${'Email'}"></th>
							<th scope="col" th:text="${'Actions'}"></th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="tempUser : ${allUsers}">
							<th:block th:each="tempCustomer : ${allCustomers}"
								th:if="${tempCustomer.userId == tempUser.id}">
								<tr>
									<td th:text="${tempCustomer.customerId}"></td>
									<td th:text="${tempUser.firstName}"></td>
									<td th:text="${tempUser.lastName}"></td>
									<td th:text="${tempUser.email}"></td>
									<td>
										<button class="btn btn-info"
											th:onclick="redirectCustomerDetails([[${tempCustomer.customerId}]])"
											th:text="${'Details'}">Details</button>
									</td>
								</tr>
							</th:block>
						</th:block>
					</tbody>
				</table>
			</div>

			<div class="d-flex justify-content-end mt-4">
				<button class="btn btn-outline-secondary mr-2"
					th:onclick="prevPage()" id="btn_prev">Prev</button>
				<span>Page: <span id="page"></span></span>
				<button class="btn btn-outline-secondary ml-2"
					th:onclick="nextPage()" id="btn_next">Next</button>
			</div>

			<script th:src="@{/js/pagination.js}"></script>
		</th:block>
	</div>
</th:block>
</html>
