<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<th:block th:fragment="ajaxLoadedContent">

    <div class="container" 
		style="margin-top: 120px;margin-bottom: 100px;font-family: Oswald, sans-serif;color: #12044F;font-weight: 700;">
        <div class="page-header">
            <h1 th:text="${'About Us'}"></h1>
            <p th:text="${'We are a restaurant with traditional Indian Food.
            We are determined to provide the best products and services.'}"></p>
        </div>
    </div>
</th:block>