<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<th:block th:fragment="ajaxLoadedContent">

	<div class="container" 
		style="margin-top: 120px;margin-bottom: 100px;font-family: Oswald, sans-serif;color: #12044F;font-weight: 700;">
		
		<th:block th:if="${allProducts.size() == 0}">
			<div class="text-center">
				<h1 th:text="${'No products available currently'}"></h1>
			</div>
			
			<div class="text-center mt-5">
				<button class="btn-creator-blue-light" 
					th:onclick="redirectAddProduct()"
					th:text="${'Add Product'}">
				</button>
			</div>
		</th:block>
			
		<th:block th:if="${allProducts.size() > 0}">
			<div class="text-center text-uppercase mb-5" >
				<h2 th:text="${'Product List'}"></h2>
			</div>
			
			<div class="mb-4">
				<button class="btn-creator-blue-light" 
					th:onclick="redirectAddProduct()"
					th:text="${'Add Product'}">
				</button>
			</div>
			
			<input type="hidden" id="recordsPerPage" th:value="${recordsPerPage}">
			<table class="creator-table mb-3" id="listingTable">
				<thead>
					<tr>
						<th th:text="${'Preview'}"></th>
						<th th:text="${'Product Name'}"></th>
						<th th:text="${'Category'}"></th>
						<th th:text="${'Price'}"></th>
						<th th:text="${'Actions'}"></th>
					</tr>
				</thead>
					
				<tbody>
					<tr th:each="tempProduct : ${allProducts}">
						<td>
							<img th:onerror="this.src='https://st3.depositphotos.com/1322515/35964/v/1600/depositphotos_359648638-stock-illustration-image-available-icon.jpg'" 
								th:src="@{${tempProduct.imageUrl}}"
								style="max-height: 90px;width: 110px;"
							/>
						</td>
						<td th:text="${tempProduct.productName}"></td>
						<td th:text="${tempProduct.category}"></td>
						<td>
							<span>&euro;&#160;</span>
							<span 
								th:text="${tempProduct.productPrice} % 1 == 0 ? ${tempProduct.productPrice} :${#numbers.formatDecimal(tempProduct.productPrice, 0, 2)}">
							</span>
						</td>
						<td>
							<div class="dropdown">
								<button type="button" class="btn-creator-blue-light dropdown-toggle" data-toggle="dropdown">
                        			Actions
                    			</button>
								<div class="dropdown-menu">
									<button class="dropdown-item btn-creator-blue-light" 
										th:onclick="redirectProductDetails([[${tempProduct.productId}]])"
										th:text="${'Details'}"></button>
									<button class="dropdown-item btn-creator-blue-light"  
										th:onclick="redirectUpdateProduct([[${tempProduct.productId}]])"
										th:text="${'Update'}">
									</button>
									<button class="dropdown-item btn-creator-red" 
										th:onclick="deleteProduct([[${tempProduct.productId}]])"
										th:text="${'Delete'}"></button>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
				
			<div style="float: right">
				<button class="btn-creator-grey" th:onclick="prevPage()" id="btn_prev">Prev</button>
					page: <span id="page"></span>
				<button class="btn-creator-grey" th:onclick="nextPage()" id="btn_next">Next</button>
			</div>

			<script th:src="@{/js/pagination.js}"></script>
			<script>
				$(document).ready(function() {
					changePage(1);
				});
			</script>
		</th:block>
		
	</div>
</th:block>