<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<th:block th:fragment="ajaxLoadedContent">

	<div class="container" 
		style="margin-top: 120px;margin-bottom: 100px;font-family: Oswald, sans-serif;color: #12044F;font-weight: 700;">
		<div class="jumbotron jumbotron-primary" 
			th:align="${'center'}" 
			th:style="${'background-color:   #c20e14;color: #d9d9d9;'}">
			<h2 th:text="${'All Products in your cart'}"></h2>
		</div>
		
		<div class="mt-5">			
			<button class="btn-creator-red mr-2" 
				th:onclick="eraseAllItems([[${cart.cartId}]])" 
				th:text="${'Clear Cart'}">
			</button>
			
			<button class="btn-creator-blue-light" 
				th:onclick="redirectOrderConfirmation([[${cart.cartId}]])" 
				th:text="${'Checkout'}">
			</button>
		</div>
		
		<div class="mt-5">
			<table class="table table-bordered table-secondary table-hover table-stripped">
				<thead class="table-primary">
					<tr>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Item Id'}">
						</th>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Product'}">
						</th>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Unit Price'}">
						</th>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Quantity'}">
						</th>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Hotness Level'}">
						</th>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Cart Price'}">
						</th>
						<th class="text-center"
							style="text-align: center; vertical-align: middle;" th:text="${'Action'}">
						</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="cartItem : ${allCartItems}">
						<th:block th:each="tempProduct : ${allProducts}">
							<th:block th:if="${cartItem.productId == tempProduct.productId}">
								<td class="text-center"
									style="text-align: center; vertical-align: middle;" th:text="${cartItem.cartItemId}">
								</td>
								<td class="text-center"
									style="text-align: center; vertical-align: middle;" th:text="${tempProduct.productName}">
								</td>
								<td class="text-center"
									style="text-align: center; vertical-align: middle;"> 
									<span>&euro;</span>
									<span th:text="${tempProduct.productPrice} % 1 == 0 ? ${tempProduct.productPrice} :${#numbers.formatDecimal(tempProduct.productPrice, 0, 2)}"></span>
								</td>
								
								<td class="text-center"
									style="text-align: center; vertical-align: middle;" th:text="${cartItem.quantity}">
								</td>
								<td	class="text-center"
									style="text-align: center; vertical-align: middle;" th:text="${cartItem.hotnessLevel}">
								</td>
								<td class="text-center"
									style="text-align: center; vertical-align: middle;"> 
									<span>&euro;</span>
									<span th:text="${cartItem.price} % 1 == 0 ? ${cartItem.price} :${#numbers.formatDecimal(cartItem.price, 0, 2)}"></span>
								</td>
								
								<td class="text-center"
									style="text-align: center; vertical-align: middle;">									
									<button class="btn-creator-red" 
										th:onclick="eraseItem([[${cart.cartId}]],[[${cartItem.cartItemId}]])"
										th:text="${'Remove'}">
									</button>
								</td>
							</th:block>
						</th:block>
					</tr>
					
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					<tr>
					
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="text-center" style="text-align: center; vertical-align: middle;">
						 	<span class="font-weight-bolder" th:text="${'Final Price:'}" ></span>
						</td>
						<td class="text-center" style="text-align: center; vertical-align: middle;">
							<span class="font-weight-bolder">&euro;</span>
							<span class="font-weight-bolder" th:text="${cart.cartPrice} % 1 == 0 ? ${cart.cartPrice} :${#numbers.formatDecimal(cart.cartPrice, 0, 2)}"></span>
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="text-center mt-5">
			<button class="btn-creator-grey" 
				th:onclick="redirectAllProducts()"
				th:text="${'Continue Shopping'}">
			</button>
		</div>
	</div>
</th:block>