<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
	
<th:block th:fragment="ajaxLoadedContent">

	<div class="container" 
		style="margin-top: 120px;margin-bottom: 100px;font-family: Oswald, sans-serif;color: #12044F;font-weight: 700;">
		
		<div class="text-center">
        	<h1 th:text="${'Registration Completed'}"></h1>
        </div>
        
        <div class="text-center mt-5">
            <button class="btn-creator-blue" 
            	th:onclick="redirectLogin()"   
                th:text="${'Login Page'}">
            </button>
        </div>
        
	</div>
</th:block>